<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/admin.html}" >
<head>
  <link rel="stylesheet" href="../../static/css/main.css" th:href="@{../css/main.css}">
	<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Password Change</title>
</head>
<body>

	<div layout:fragment="content">
    <div class="container my-3 pb-5">
			<div class="pt-3">
				<h1 class="display-5 fw-bold" th:text="#{label.page.changePassword}">Password change</h1>
				<hr class="my-4">
			</div>

			<div class="px-4">
				<p class="col-md-8 fs-4" th:text="#{label.page.changeYourPassword}">Change your password</p>

				<form name="update" th:action="@{/user/password}" th:object="${newpassword}" method="post" class="row g-3" accept-charset="utf-8">
					<div class="mx-auto border form-bg px-5 py-3">


						<div class="mb-3">
							<label for="oldPassword" th:text="#{label.page.oldPassword}">Old Password</label>
							<input type="password" class="form-control" name="oldPassword" th:field="*{oldPassword}" th:placeholder="#{label.page.oldPassword}" id="oldPassword" required>
							<span th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="text-danger"></span>
						</div>

						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="password" th:text="#{label.page.newPassword}">New Password</label>
								<input type="password" class="form-control" name="password" th:field="*{password}" id="password" th:placeholder="#{label.page.newPassword}"  th:title="#{title.page.password}"required>
								<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
							</div>
							<div class="col-md-6 mb-3">
								<label for="confirmPassword" th:text="#{label.page.conf.password}">Confirm password</label>
								<input type="password" class="form-control" name="confirmPassword" th:field="*{confirmPassword}" id="confirmPassword" th:placeholder="#{label.page.conf.password}" required>
								<span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger"></span>
							</div>
						</div>

						<div class="d-grid gap-2 col-4 mx-auto">
							<button class="btn btn-teal shadow-none my-3" type="submit" th:text="#{label.page.submit}">Submit</button>
						</div>

					</div>
				</form>

			</div>
		</div>
  </div>

</body>
</html>
